version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: mysql-containertodo
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 123456
      MYSQL_DATABASE: sakila
    ports:
      - "3307:3306"
    volumes:
      - ./data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    command: --default-authentication-plugin=mysql_native_password
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-p123456"]
      interval: 10s
      timeout: 5s
      retries: 5

  api:
    build: ./backend
    container_name: backend-todo
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      db:
        condition: service_healthy
